In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
# bu yerda kerakli kutubhonalarni chaqirib oldik

In [2]:
df=pd.read_csv('Carseats.csv')

In [4]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    object
 6   ShelveLoc    399 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           397 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 34.5+ KB

In [3]:
df.fillna(df['ShelveLoc'].mode()[0], inplace=True)

In [4]:
df.fillna(df['US'].mode()[0], inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    object
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 34.5+ KB

In [5]:
raqamli=df.select_dtypes(include=['int64','float64']).columns

In [9]:
raqamli

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Age'], dtype='object')

In [6]:
matnli=df.select_dtypes(include=['object']).columns

In [11]:
matnli

Index(['Price', 'ShelveLoc', 'Education', 'Urban', 'US'], dtype='object')

OneHotEncoding

In [7]:
df=pd.get_dummies(df, columns=matnli, drop_first=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Columns: 124 entries, Sales to US_Yes
dtypes: bool(118), float64(1), int64(5)
memory usage: 65.0 KB

In [14]:
df.head(1)

,Sales,CompPrice,Income,Advertising,Population,Age,Price_101,Price_102,Price_103,Price_104,...,Education_13,Education_14,Education_15,Education_16,Education_17,Education_18,Education_Yes,Urban_Yes,US_No,US_Yes
0,9.5,138,73,11,276,42,False,False,False,False,...,False,False,False,False,True,False,False,True,False,True

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Columns: 124 entries, Sales to US_Yes
dtypes: int64(124)
memory usage: 387.6 KB

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
onehot=OneHotEncoder(sparse_output=False, drop='first')

In [ ]:
df.head()

In [10]:
matnli

Index(['Price', 'ShelveLoc', 'Education', 'Urban', 'US'], dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Columns: 124 entries, Sales to US_Yes
dtypes: bool(118), float64(1), int64(5)
memory usage: 65.0 KB

In [ ]:
df.head(1)

In [ ]:
df_encoded=onehot.fit_transform(df[matnli])

In [ ]:
encoded_col=onehot.get_feature_names_out(matnli)

In [ ]:
df=pd.concat([df.drop(columns=matnli), df_encoded],axis=1)

In [ ]:
df[matnli]=df[matnli].apply(lambda col: col.map(col.value_counts()))

In [ ]:
df['US']=df['US'].map({'Yes':1,'No':0})

In [ ]:
df[matnli]=df[matnli].apply(lambda col: col.map(df.groupby(col)['US'].mean()))

In [ ]:
encoded_col=onehot.get_feature_names_out(matnli)