 7-vazifa

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
# bu yerda kerakli kutubhonalarni chaqirib oldik

In [2]:
df=pd.read_csv('Carseats.csv')
# bu yerda ishlatildigan datani chaqirib oldik

In [3]:
df.head()
# bu yerda datani umumiy holatini ko'rdik

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [4]:
df.info()
# bu yerda data haqida ko'proq ma'lumot, kamchiliklari va data turini bilib oldik

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    object
 6   ShelveLoc    399 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           397 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 34.5+ KB

In [5]:
# endi kamchiligi bor ustunlarni to'ldirib olamiz
df.fillna(df['ShelveLoc'].mode()[0], inplace=True)
df.fillna(df['US'].mode()[0], inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    object
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 34.5+ KB

In [68]:
raqamli=df.select_dtypes(include=['int64','float64']).columns #bu yerda data turlari int va float larni belgilab oldik

In [69]:
raqamli

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

In [70]:
matnli=df.select_dtypes(include=['object','category']).columns

In [71]:
matnli

Index([], dtype='object')

In [25]:
df['Price']
# bu yerda datani tekshirib, kamchilik bo'lsa tozalab olamiz

0      120
1       83
2       80
3       97
4      128
      ...
395    128
396    120
397    159
398     95
399    120
Name: Price, Length: 400, dtype: object

In [6]:
df['Price'].unique() #  bu code ustun ichidagi barcha datalarni chiqaradi, bu yerdagi unique()codi takror keladigan qiyatlarni olib tashlaydi

array(['120', '83', '80', '97', '128', '72', '108', '124', '100', '94',
       '136', '86', '118', '144', '110', '131', '68', 'Medium', '109',
       '138', 'Bad', '82', '107', '102', '89', '137', '96', '126', '24',
       '134', '95', '135', '70', '98', '149', '129', '119', '154', '84',
       '117', '103', '114', '123', '133', '101', '104', '91', '115', '99',
       '150', '116', '92', '145', '90', '79', '139', '121', '112', '111',
       '125', '148', '132', '127', '106', '151', '87', '155', '49', '147',
       '77', '159', '69', '157', '160', '141', '191', '93', '55', '185',
       '122', '81', '140', '173', '146', '130', '64', '105', '163', '88',
       '156', '166', '63', '158', '113', '74', '54', '171', '152', '143',
       '164', '162', '53', '78'], dtype=object)

In [6]:
len(df['Price'].unique())

103

In [34]:
len(df['Price'])

400

In [8]:
df['Price']=pd.to_numeric(df['Price'],errors='coerce') # bu yerda pricedagi matnlarni raqamga aylantiradi yoki NaNga aylantiradi va pricega yangilangan holatda 
# saqlaydi

In [9]:
df['Price'].unique()

array([120.,  83.,  80.,  97., 128.,  72., 108., 124., 100.,  94., 136.,
        86., 118., 144., 110., 131.,  68.,  nan, 109., 138.,  82., 107.,
       102.,  89., 137.,  96., 126.,  24., 134.,  95., 135.,  70.,  98.,
       149., 129., 119., 154.,  84., 117., 103., 114., 123., 133., 101.,
       104.,  91., 115.,  99., 150., 116.,  92., 145.,  90.,  79., 139.,
       121., 112., 111., 125., 148., 132., 127., 106., 151.,  87., 155.,
        49., 147.,  77., 159.,  69., 157., 160., 141., 191.,  93.,  55.,
       185., 122.,  81., 140., 173., 146., 130.,  64., 105., 163.,  88.,
       156., 166.,  63., 158., 113.,  74.,  54., 171., 152., 143., 164.,
       162.,  53.,  78.])

In [10]:
df['Price'].fillna(df['Price'].mean(), inplace=True) # bu yerda price ustundagi matnlarni songa aylantirib oldim

/var/folders/30/rhygxw913tvdqrfklnsl3gx00000gn/T/ipykernel_55529/3508882839.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(df['Price'].mean(), inplace=True) # bu yerda price ustundagi matnlarni songa aylantirib oldim

In [9]:
len(df['Price'].unique())

102

In [14]:
df['Price'].unique()

array([120.        ,  83.        ,  80.        ,  97.        ,
       128.        ,  72.        , 108.        , 124.        ,
       100.        ,  94.        , 136.        ,  86.        ,
       118.        , 144.        , 110.        , 131.        ,
        68.        , 115.78894472, 109.        , 138.        ,
        82.        , 107.        , 102.        ,  89.        ,
       137.        ,  96.        , 126.        ,  24.        ,
       134.        ,  95.        , 135.        ,  70.        ,
        98.        , 149.        , 129.        , 119.        ,
       154.        ,  84.        , 117.        , 103.        ,
       114.        , 123.        , 133.        , 101.        ,
       104.        ,  91.        , 115.        ,  99.        ,
       150.        , 116.        ,  92.        , 145.        ,
        90.        ,  79.        , 139.        , 121.        ,
       112.        , 111.        , 125.        , 148.        ,
       132.        , 127.        , 106.        , 151.        ,
        87.        , 155.        ,  49.        , 147.        ,
        77.        , 159.        ,  69.        , 157.        ,
       160.        , 141.        , 191.        ,  93.        ,
        55.        , 185.        , 122.        ,  81.        ,
       140.        , 173.        , 146.        , 130.        ,
        64.        , 105.        , 163.        ,  88.        ,
       156.        , 166.        ,  63.        , 158.        ,
       113.        ,  74.        ,  54.        , 171.        ,
       152.        , 143.        , 164.        , 162.        ,
        53.        ,  78.        ])

In [15]:
df['Price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 400 entries, 0 to 399
Series name: Price
Non-Null Count  Dtype
--------------  -----
400 non-null    float64
dtypes: float64(1)
memory usage: 3.3 KB

In [16]:
df['Price'].unique()

array([120.        ,  83.        ,  80.        ,  97.        ,
       128.        ,  72.        , 108.        , 124.        ,
       100.        ,  94.        , 136.        ,  86.        ,
       118.        , 144.        , 110.        , 131.        ,
        68.        , 115.78894472, 109.        , 138.        ,
        82.        , 107.        , 102.        ,  89.        ,
       137.        ,  96.        , 126.        ,  24.        ,
       134.        ,  95.        , 135.        ,  70.        ,
        98.        , 149.        , 129.        , 119.        ,
       154.        ,  84.        , 117.        , 103.        ,
       114.        , 123.        , 133.        , 101.        ,
       104.        ,  91.        , 115.        ,  99.        ,
       150.        , 116.        ,  92.        , 145.        ,
        90.        ,  79.        , 139.        , 121.        ,
       112.        , 111.        , 125.        , 148.        ,
       132.        , 127.        , 106.        , 151.        ,
        87.        , 155.        ,  49.        , 147.        ,
        77.        , 159.        ,  69.        , 157.        ,
       160.        , 141.        , 191.        ,  93.        ,
        55.        , 185.        , 122.        ,  81.        ,
       140.        , 173.        , 146.        , 130.        ,
        64.        , 105.        , 163.        ,  88.        ,
       156.        , 166.        ,  63.        , 158.        ,
       113.        ,  74.        ,  54.        , 171.        ,
       152.        , 143.        , 164.        , 162.        ,
        53.        ,  78.        ])

In [13]:
df['Price'].astype(int)

0      120
1       83
2       80
3       97
4      128
      ...
395    128
396    120
397    159
398     95
399    120
Name: Price, Length: 400, dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 34.5+ KB

In [15]:
df['Price'].head()

0    120.0
1     83.0
2     80.0
3     97.0
4    128.0
Name: Price, dtype: float64

In [16]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120.0,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83.0,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80.0,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97.0,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128.0,Bad,38,13,Yes,No

In [10]:
df['ShelveLoc'].head()

0       Bad
1      Good
2    Medium
3    Medium
4       Bad
Name: ShelveLoc, dtype: object

In [11]:
df['ShelveLoc'].unique() # bu yerda shel%%% ustun ichidagi data turlarini bilib oldim

array(['Bad', 'Good', 'Medium', '69', '42'], dtype=object)

In [12]:
df['ShelveLoc'].nunique() # bu yerda shel%%% ustuni ichidagi datani nechta turga bo'linganini bilib oldim

5

In [13]:
df['ShelveLoc'].value_counts() # bu yerda datalarni nechtaligini aniqladik

ShelveLoc
Medium    219
Bad        95
Good       84
69          1
42          1
Name: count, dtype: int64

In [17]:
df['ShelveLoc']=df['ShelveLoc'].astype(str) # bu yerda sonli datani matnli qilib o'zgartirib oldik

In [18]:
df['ShelveLoc'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 400 entries, 0 to 399
Series name: ShelveLoc
Non-Null Count  Dtype
--------------  -----
400 non-null    object
dtypes: object(1)
memory usage: 3.3+ KB

In [19]:
df['ShelveLoc'].value_counts()

ShelveLoc
Medium    219
Bad        95
Good       84
69          1
42          1
Name: count, dtype: int64

In [18]:
df['ShelveLoc'].nunique()

5

In [24]:
df = df[~df['ShelveLoc'].apply(lambda x: isinstance(x, (int, float)))]

In [25]:
df['ShelveLoc'].value_counts()

ShelveLoc
Medium    219
Bad        95
Good       84
69          1
42          1
Name: count, dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 34.5+ KB

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 34.5+ KB

In [ ]:
df['ShelveLoc']=df['ShelveLoc'].replace(df['ShelveLoc']) #### buni keyin qilaman

In [48]:
df['ShelveLoc'].head()

0       Bad
1      Good
2    Medium
3    Medium
4       Bad
Name: ShelveLoc, dtype: object

In [49]:
df['ShelveLoc']=ozgartir.fit_transform(df['ShelveLoc'])

In [50]:
df['ShelveLoc'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 400 entries, 0 to 399
Series name: ShelveLoc
Non-Null Count  Dtype
--------------  -----
400 non-null    int64
dtypes: int64(1)
memory usage: 3.3 KB

In [29]:
df['Education'].unique() # bu yerda raqamli data ichida matnli borligini ko'rdik

array(['17', '10', '12', '14', '13', '16', '15', '18', 'Yes', '11'],
      dtype=object)

In [30]:
df['Education'].nunique()

10

In [34]:
df['Education'].value_counts()

Education
17     49
10     48
11     48
12     47
16     47
13     43
14     40
18     39
15     36
Yes     3
Name: count, dtype: int64

In [26]:
df['Education']=pd.to_numeric(df['Education'],errors='coerce') # bu yerda matnlilarni NaN ga aylantirib oldik

In [27]:
df['Education'].fillna(df['Education'].mean()).astype(int)

0      17
1      10
2      12
3      14
4      13
       ..
395    14
396    11
397    18
398    12
399    16
Name: Education, Length: 400, dtype: int64

In [28]:
df['Education'].value_counts()

Education
17.0    49
10.0    48
11.0    48
12.0    47
16.0    47
13.0    43
14.0    40
18.0    39
15.0    36
Name: count, dtype: int64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    397 non-null    float64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(3), int64(5), object(3)
memory usage: 34.5+ KB

In [30]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120.0,Bad,42,17.0,Yes,Yes
1,11.22,111,48,16,260,83.0,Good,65,10.0,Yes,Yes
2,10.06,113,35,10,269,80.0,Medium,59,12.0,Yes,Yes
3,7.40,117,100,4,466,97.0,Medium,55,14.0,Yes,Yes
4,4.15,141,64,3,340,128.0,Bad,38,13.0,Yes,No

In [33]:
ozgartir=LabelEncoder()

In [34]:
df['Urban']=ozgartir.fit_transform(df['Urban']) #bu yerda Urban ustunini raqamliga aylantirib oldik

In [36]:
df['Urban'].value_counts()

Urban
1    281
0    119
Name: count, dtype: int64

In [43]:
df['US']=ozgartir.fit_transform(df['US'])

In [46]:
df = df.drop('Us', axis=1)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    397 non-null    float64
 9   Urban        400 non-null    int64
 10  US           400 non-null    int64
dtypes: float64(3), int64(7), object(1)
memory usage: 34.5+ KB

In [38]:
df['Us'].unique()

array([2, 1, 0])

In [44]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Us
0,9.50,138,73,11,276,120.0,Bad,42,17.0,1,2,2
1,11.22,111,48,16,260,83.0,Good,65,10.0,1,2,2
2,10.06,113,35,10,269,80.0,Medium,59,12.0,1,2,2
3,7.40,117,100,4,466,97.0,Medium,55,14.0,1,2,2
4,4.15,141,64,3,340,128.0,Bad,38,13.0,1,1,1

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    int64
 7   Age          400 non-null    int64
 8   Education    397 non-null    float64
 9   Urban        400 non-null    int64
 10  US           400 non-null    int64
dtypes: float64(3), int64(8)
memory usage: 34.5 KB

In [54]:
df['Sales']=df['Sales'].astype(int)

In [55]:
df['Price']=df['Price'].astype(int)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    int64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    int64
 7   Age          400 non-null    int64
 8   Education    397 non-null    float64
 9   Urban        400 non-null    int64
 10  US           400 non-null    int64
dtypes: float64(1), int64(10)
memory usage: 34.5 KB

In [59]:
df['Education'].fillna(df['Education'].mean(),inplace=True)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    int64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    int64
 7   Age          400 non-null    int64
 8   Education    400 non-null    float64
 9   Urban        400 non-null    int64
 10  US           400 non-null    int64
dtypes: float64(1), int64(10)
memory usage: 34.5 KB

In [62]:
df['Education']=df['Education'].astype(int)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    int64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    int64
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    int64
 10  US           400 non-null    int64
dtypes: int64(11)
memory usage: 34.5 KB

In [64]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9,138,73,11,276,120,2,42,17,1,2
1,11,111,48,16,260,83,3,65,10,1,2
2,10,113,35,10,269,80,4,59,12,1,2
3,7,117,100,4,466,97,4,55,14,1,2
4,4,141,64,3,340,128,2,38,13,1,1

In [92]:
df_trans=raqamli.fit_transform(df[matnli])

AttributeError: 'Index' object has no attribute 'fit_transform'

In [74]:
df=pd.get_dummies(df, columns=raqamli, drop_first=True)

In [89]:
df.head()

,Sales_1,Sales_2,Sales_3,Sales_4,Sales_5,Sales_6,Sales_7,Sales_8,Sales_9,Sales_10,...,Education_12,Education_13,Education_14,Education_15,Education_16,Education_17,Education_18,Urban_1,US_1,US_2
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,1
3,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0

In [ ]:
df=pd.concat([df.drop(columns=raqamli),df_encoded],axis=1)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Columns: 657 entries, Sales_1 to US_2
dtypes: bool(657)
memory usage: 256.8 KB

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Columns: 657 entries, Sales_1 to US_2
dtypes: bool(657)
memory usage: 256.8 KB

In [79]:
df=df.astype(int)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Columns: 657 entries, Sales_1 to US_2
dtypes: int64(657)
memory usage: 2.0 MB

In [81]:
one_hot=OneHotEncoder(sparse_output=False, drop='first')

In [ ]:
df_encoded=ozgartir.fit_transform(df[raqamli])

In [85]:

matnli

Index([], dtype='object')

In [ ]:
df['US']=df['US'].map({'Yes':1,'No':0}) # bu code bilan US ustunidagi yes va no matnlari o'rniga 1;0 qiymatni beradi

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Columns: 657 entries, Sales_1 to US_2
dtypes: int64(657)
memory usage: 2.0 MB

In [33]:
df.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64