VAZIFA

In [1]:
!pip install pandas

zsh:1: command not found: pip

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
df=pd.read_csv('fastfood.csv')

In [7]:
df.head(1)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2.0,0.0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    float64
 6   trans_fat    515 non-null    float64
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        503 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      514 non-null    float64
 13  vit_a        301 non-null    float64
 14  vit_c        305 non-null    float64
 15  calcium      305 non-null    float64
 16  salad        515 non-null    object
dtypes: float64(7), int64(7), object(3)
memory usage: 68.5+ KB

In [4]:
df.isnull().sum()

restaurant       0
item             0
calories         0
cal_fat          0
total_fat        0
sat_fat          0
trans_fat        0
cholesterol      0
sodium           0
total_carb       0
fiber           12
sugar            0
protein          1
vit_a          214
vit_c          210
calcium        210
salad            0
dtype: int64

In [5]:
kam_malu=df.isnull().sum()>0

for ustun in df.columns[kam_malu]:
    if df[ustun].dtype == 'object':  # For categorical columns
        df[ustun].fillna(df[ustun].mode()[0], inplace=True)  # Fill with mode (most frequent)
    else:  # For numeric columns
        df[ustun].fillna(df[ustun].mean(), inplace=True)  # Fill with mean

/var/folders/30/rhygxw913tvdqrfklnsl3gx00000gn/T/ipykernel_56966/1708259403.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[ustun].fillna(df[ustun].mean(), inplace=True)  # Fill with mean

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    float64
 6   trans_fat    515 non-null    float64
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        515 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      515 non-null    float64
 13  vit_a        515 non-null    float64
 14  vit_c        515 non-null    float64
 15  calcium      515 non-null    float64
 16  salad        515 non-null    object
dtypes: float64(7), int64(7), object(3)
memory usage: 68.5+ KB

In [6]:
df['restaurant'].head()

0    Mcdonalds
1    Mcdonalds
2    Mcdonalds
3    Mcdonalds
4    Mcdonalds
Name: restaurant, dtype: object

In [16]:
df.head(1)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2.0,0.0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other

In [7]:
df.drop(columns='vit_c', axis=1, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    float64
 6   trans_fat    515 non-null    float64
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        515 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      515 non-null    float64
 13  vit_a        515 non-null    float64
 14  calcium      515 non-null    float64
 15  salad        515 non-null    object
dtypes: float64(6), int64(7), object(3)
memory usage: 64.5+ KB

In [8]:
matnli=df.select_dtypes(include=['object','category']).columns
raqamli=df.select_dtypes(include=['int64','float64'])

In [25]:
print(raqamli)

     calories  cal_fat  total_fat  sat_fat  trans_fat  cholesterol  sodium  \
0         380       60          7      2.0        0.0           95    1110
1         840      410         45     17.0        1.5          130    1580
2        1130      600         67     27.0        3.0          220    1920
3         750      280         31     10.0        0.5          155    1940
4         920      410         45     12.0        0.5          120    1980
..        ...      ...        ...      ...        ...          ...     ...
510       780      340         38     10.0        0.5           50    1850
511       580      260         29      9.0        1.0           60    1270
512       780      380         42     10.0        1.0           60    1340
513       720      320         35      7.0        0.0           70    1260
514       720      320         36      8.0        1.0           55    1340

     total_carb  fiber  sugar  protein      vit_a    calcium
0            44    3.0     11     37.0   4.000000  20.000000
1            62    2.0     18     46.0   6.000000  20.000000
2            63    3.0     18     70.0  10.000000  50.000000
3            62    2.0     18     55.0   6.000000  20.000000
4            81    4.0     18     46.0   6.000000  20.000000
..          ...    ...    ...      ...        ...        ...
510          87    9.0      8     23.0  20.000000  25.000000
511          59    8.0      7     23.0  18.857143  24.852459
512          74   11.0      7     26.0  18.857143  24.852459
513          70    8.0      8     32.0  18.857143  24.852459
514          70    8.0      8     28.0  18.857143  24.852459

[515 rows x 13 columns]

In [9]:
print(matnli)

Index(['restaurant', 'item', 'salad'], dtype='object')

In [10]:
from sklearn.preprocessing import LabelEncoder
ozgartir = LabelEncoder()

In [11]:
df['restaurant']=ozgartir.fit_transform(df['restaurant'])

In [12]:
df['restaurant'].head()

0    4
1    4
2    4
3    4
4    4
Name: restaurant, dtype: int64

In [13]:
df['item'].head()

0             Artisan Grilled Chicken Sandwich
1               Single Bacon Smokehouse Burger
2               Double Bacon Smokehouse Burger
3    Grilled Bacon Smokehouse Chicken Sandwich
4     Crispy Bacon Smokehouse Chicken Sandwich
Name: item, dtype: object

In [14]:
df['item']=ozgartir.fit_transform(df['item'])

In [15]:
df['item'].head()

0     91
1    420
2    242
3    313
4    211
Name: item, dtype: int64

In [16]:
df['salad'].head(2)

0    Other
1    Other
Name: salad, dtype: object

In [17]:
df['salad']=ozgartir.fit_transform(df['salad'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    int64
 1   item         515 non-null    int64
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    float64
 6   trans_fat    515 non-null    float64
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        515 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      515 non-null    float64
 13  vit_a        515 non-null    float64
 14  calcium      515 non-null    float64
 15  salad        515 non-null    int64
dtypes: float64(6), int64(10)
memory usage: 64.5 KB

In [25]:
df.head(2)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,calcium,salad
0,4,91,380,60,7,2.0,0.0,95,1110,44,3.0,11,37.0,4.0,20.0,0
1,4,420,840,410,45,17.0,1.5,130,1580,62,2.0,18,46.0,6.0,20.0,0

In [ ]:
flo_at=df.isnull().sum()==0
for id in df.columns[flo_at]:
    if df[id].dtype=='float64':
        df[id]=df[id].astype(int) #  yoki shu code bilan ham qila olamiz df[df.columns]=df[df.columns].astype(int)

In [30]:
df[df.columns]=df[df.columns].astype(int)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    int64
 1   item         515 non-null    int64
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    int64
 6   trans_fat    515 non-null    int64
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        515 non-null    int64
 11  sugar        515 non-null    int64
 12  protein      515 non-null    int64
 13  vit_a        515 non-null    int64
 14  calcium      515 non-null    int64
 15  salad        515 non-null    int64
dtypes: int64(16)
memory usage: 64.5 KB

In [32]:
df.head(3)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,calcium,salad
0,4,91,380,60,7,2,0,95,1110,44,3,11,37,4,20,0
1,4,420,840,410,45,17,1,130,1580,62,2,18,46,6,20,0
2,4,242,1130,600,67,27,3,220,1920,63,3,18,70,10,50,0

In [ ]:
df.drop(columns='total_fat', axis=1, inplace=True)
df.drop(columns='sat_fat', axis=1, inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    int64
 1   item         515 non-null    int64
 2   calories     515 non-null    int64
 3   trans_fat    515 non-null    int64
 4   cholesterol  515 non-null    int64
 5   sodium       515 non-null    int64
 6   total_carb   515 non-null    int64
 7   fiber        515 non-null    int64
 8   sugar        515 non-null    int64
 9   protein      515 non-null    int64
 10  vit_a        515 non-null    int64
 11  calcium      515 non-null    int64
 12  salad        515 non-null    int64
dtypes: int64(13)
memory usage: 52.4 KB

In [40]:
# Training process

In [41]:
x=df.drop('trans_fat', axis=1) #Input
y=df['trans_fat'] #Output

In [43]:
from sklearn.model_selection import train_test_split

In [58]:
x_train, y_train, x_test, y_test=train_test_split ( x,x,test_size=0.3, random_state=42)

In [45]:
x_train.shape

(412, 12)

In [46]:
x_test.shape

(412, 12)

In [47]:
y_train.shape

(103, 12)

In [60]:
from sklearn.linear_model import LinearRegression

In [55]:
model0=LinearRegression()

In [59]:
model0.fit(x_train,y_train)

ValueError: Found input variables with inconsistent numbers of samples: [360, 155]