Imtihon darsi

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder,LabelEncoder
 # bu yerda ushbu loyihani bajarish uchun kerakli kutubhonalarni o'rnatib oldim

In [2]:
df=pd.read_csv('corporate_stress_dataset.csv')
# loyihamiz uchun kerakli datasetni o'rnatib oldim

/var/folders/30/rhygxw913tvdqrfklnsl3gx00000gn/T/ipykernel_29846/3364418766.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('corporate_stress_dataset.csv')

,ID,Age,Gender,Marital_Status,Job_Role,Experience_Years,Monthly_Salary_INR,Working_Hours_per_Week,Commute_Time_Hours,Remote_Work,...,Work_Life_Balance,Family_Support_Level,Job_Satisfaction,Performance_Rating,Team_Size,Training_Opportunities,Gender_Bias_Experienced,Discrimination_Experienced,Burnout_Symptoms,Location
0,1,56,Non-Binary,Widowed,Developer,5,102703.08,44,1.72,True,...,9.0,2,5,10.0,38,False,True,True,No,Tier-3
1,2,46,Female,Single,Analyst,20,165583.91,54,0.62,True,...,9.0,1,10,9.0,72,True,True,True,No,Tier-3
2,3,32,Female,Single,Developer,10,38005.39,81,1.22,False,...,6.0,1,1,1.0,67,False,False,False,Yes,Metro
3,4,60,Female,Divorced,Analyst,26,51127.36,79,2.03,False,...,8.0,10,5,10.0,98,True,True,False,Yes,Metro

In [ ]:
df.head(4)
# datani umumiy ko'rinishi haqida bilib oldim

In [5]:
df.info()
# data ichidagi ustunlar haqida umumiy ma'lumot oldim

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          49999 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                49999 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      49999 non-null  float64
 11  Health_Issues                     37459 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         49999 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               49999 non-null  float64
 19  Annual_Leaves_Taken               49999 non-null  float64
 20  Work_Life_Balance                 49998 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                49999 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

In [4]:
df.isnull().sum()
# ustunlardagi yetishmayotgan qatorlar soni haqida bilib oldim

ID                                      0
Age                                     0
Gender                                  0
Marital_Status                          0
Job_Role                                1
Experience_Years                        0
Monthly_Salary_INR                      0
Working_Hours_per_Week                  0
Commute_Time_Hours                      1
Remote_Work                             0
Stress_Level                            1
Health_Issues                       12541
Company_Size                            0
Department                              0
Sleep_Hours                             0
Physical_Activity_Hours_per_Week        0
Mental_Health_Leave_Taken               1
Manager_Support_Level                   0
Work_Pressure_Level                     1
Annual_Leaves_Taken                     1
Work_Life_Balance                       2
Family_Support_Level                    0
Job_Satisfaction                        0
Performance_Rating                      1
Team_Size                               0
Training_Opportunities                  0
Gender_Bias_Experienced                 0
Discrimination_Experienced              0
Burnout_Symptoms                        0
Location                                0
dtype: int64

In [3]:

kamchilik = df.columns[df.isnull().sum()>0] # bu yerda matnli ustunlarni belgilab oldim


for ustun in kamchilik: #bu yerda for loopdan foydalandim
    if df[ustun].dtype == 'object': #  0 dan katta bo'lgan va object deb topilgan ustunlar bo'lsa olaman
        df[ustun].fillna(df[ustun].mode()[0], inplace=True) # topilgan ustunlarni mode bilan to'ldiraman
    else:  # aksincha bo'lsa (int yoki float) mean bilan to'ldiraman
        df[ustun].fillna(df[ustun].mean(), inplace=True)

/var/folders/30/rhygxw913tvdqrfklnsl3gx00000gn/T/ipykernel_29846/3283679111.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[ustun].fillna(df[ustun].mode()[0], inplace=True) # topilgan ustunlarni mode bilan to'ldiraman
/var/folders/30/rhygxw913tvdqrfklnsl3gx00000gn/T/ipykernel_29846/3283679111.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[ustun].fillna(df[ustun].mean(), inplace=True)

In [10]:
df.info() # bu yerda tekshirib oldim

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Health_Issues                     50000 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         50000 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               50000 non-null  float64
 19  Annual_Leaves_Taken               50000 non-null  float64
 20  Work_Life_Balance                 50000 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                50000 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

In [4]:
df['Mental_Health_Leave_Taken'].value_counts() # bu yerda matnli data ichida raqamli ham borligini bildim

Mental_Health_Leave_Taken
TRUE     16414
FALSE    16352
True      8660
False     8572
1            1
0            1
Name: count, dtype: int64

In [4]:
df['Mental_Health_Leave_Taken'] = df['Mental_Health_Leave_Taken'].replace({'1': True,'0': False}) # bu yerda sonli datani matnli qilib oldim

In [5]:
df['Mental_Health_Leave_Taken'].value_counts() # tekshirib oldim

Mental_Health_Leave_Taken
TRUE     16414
FALSE    16352
True      8661
False     8573
Name: count, dtype: int64

In [ ]:
matnli=df.select_dtypes(include=['object','category']).columns.tolist()
sonlilar=df.select_dtypes(include=['int64','float64']).columns.tolist()
bol=df.select_dtypes(include=['bool']).columns.tolist()
print(matnli)
print(sonlilar)
print(bol)
# bu yerda data turlariga qarab ajratib oldim

['Gender', 'Marital_Status', 'Job_Role', 'Health_Issues', 'Company_Size', 'Department', 'Mental_Health_Leave_Taken', 'Burnout_Symptoms', 'Location']
['ID', 'Age', 'Experience_Years', 'Monthly_Salary_INR', 'Working_Hours_per_Week', 'Commute_Time_Hours', 'Stress_Level', 'Sleep_Hours', 'Physical_Activity_Hours_per_Week', 'Manager_Support_Level', 'Work_Pressure_Level', 'Annual_Leaves_Taken', 'Work_Life_Balance', 'Family_Support_Level', 'Job_Satisfaction', 'Performance_Rating', 'Team_Size']
['Remote_Work', 'Training_Opportunities', 'Gender_Bias_Experienced', 'Discrimination_Experienced']

In [30]:
df[bol] = df[bol].replace({True:1 , False:0}) # bu yerda bool data turini intga o'zgartirib oldim

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  int64
 10  Stress_Level                      50000 non-null  float64
 11  Health_Issues                     50000 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         50000 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               50000 non-null  float64
 19  Annual_Leaves_Taken               50000 non-null  float64
 20  Work_Life_Balance                 50000 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                50000 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  int64
 26  Gender_Bias_Experienced           50000 non-null  int64
 27  Discrimination_Experienced        50000 non-null  int64
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: float64(9), int64(12), object(9)
memory usage: 11.4+ MB

In [ ]:
df = pd.get_dummies(df, columns=['Marital_Status', 'Job_Role', 'Health_Issues', 'Company_Size', 'Department', 'Mental_Health_Leave_Taken', 'Burnout_Symptoms', 'Location'], drop_first=True)
# bu yerda get dummies bilan matnlarni sonli qilib oldim, bu yerda alohida ustun qilib berdi

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 49 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Experience_Years                  50000 non-null  int64
 3   Monthly_Salary_INR                50000 non-null  float64
 4   Working_Hours_per_Week            50000 non-null  int64
 5   Commute_Time_Hours                50000 non-null  float64
 6   Remote_Work                       50000 non-null  int64
 7   Stress_Level                      50000 non-null  float64
 8   Sleep_Hours                       50000 non-null  float64
 9   Physical_Activity_Hours_per_Week  50000 non-null  float64
 10  Manager_Support_Level             50000 non-null  int64
 11  Work_Pressure_Level               50000 non-null  float64
 12  Annual_Leaves_Taken               50000 non-null  float64
 13  Work_Life_Balance                 50000 non-null  float64
 14  Family_Support_Level              50000 non-null  int64
 15  Job_Satisfaction                  50000 non-null  int64
 16  Performance_Rating                50000 non-null  float64
 17  Team_Size                         50000 non-null  int64
 18  Training_Opportunities            50000 non-null  int64
 19  Gender_Bias_Experienced           50000 non-null  int64
 20  Discrimination_Experienced        50000 non-null  int64
 21  Gender_Male                       50000 non-null  bool
 22  Gender_Non-Binary                 50000 non-null  bool
 23  Marital_Status_Married            50000 non-null  bool
 24  Marital_Status_Single             50000 non-null  bool
 25  Marital_Status_Widowed            50000 non-null  bool
 26  Job_Role_Developer                50000 non-null  bool
 27  Job_Role_HR                       50000 non-null  bool
 28  Job_Role_Manager                  50000 non-null  bool
 29  Job_Role_Sales                    50000 non-null  bool
 30  Job_Role_Support                  50000 non-null  bool
 31  Health_Issues_Mental              50000 non-null  bool
 32  Health_Issues_Physical            50000 non-null  bool
 33  Company_Size_Medium               50000 non-null  bool
 34  Company_Size_Small                50000 non-null  bool
 35  Department_Finance                50000 non-null  bool
 36  Department_HR                     50000 non-null  bool
 37  Department_IT                     50000 non-null  bool
 38  Department_Marketing              50000 non-null  bool
 39  Department_Sales                  50000 non-null  bool
 40  Mental_Health_Leave_Taken_True    50000 non-null  bool
 41  Mental_Health_Leave_Taken_FALSE   50000 non-null  bool
 42  Mental_Health_Leave_Taken_TRUE    50000 non-null  bool
 43  Burnout_Symptoms_No               50000 non-null  bool
 44  Burnout_Symptoms_Occasional       50000 non-null  bool
 45  Burnout_Symptoms_Yes              50000 non-null  bool
 46  Location_Tier-1                   50000 non-null  bool
 47  Location_Tier-2                   50000 non-null  bool
 48  Location_Tier-3                   50000 non-null  bool
dtypes: bool(28), float64(9), int64(12)
memory usage: 9.3 MB

In [50]:
bol=df.select_dtypes(include=['bool']).columns.tolist() # bool ustunlarni chaqirib oldim

In [51]:
print(bol)

['Gender_Male', 'Gender_Non-Binary', 'Marital_Status_Married', 'Marital_Status_Single', 'Marital_Status_Widowed', 'Job_Role_Developer', 'Job_Role_HR', 'Job_Role_Manager', 'Job_Role_Sales', 'Job_Role_Support', 'Health_Issues_Mental', 'Health_Issues_Physical', 'Company_Size_Medium', 'Company_Size_Small', 'Department_Finance', 'Department_HR', 'Department_IT', 'Department_Marketing', 'Department_Sales', 'Mental_Health_Leave_Taken_True', 'Mental_Health_Leave_Taken_FALSE', 'Mental_Health_Leave_Taken_TRUE', 'Burnout_Symptoms_No', 'Burnout_Symptoms_Occasional', 'Burnout_Symptoms_Yes', 'Location_Tier-1', 'Location_Tier-2', 'Location_Tier-3']

In [52]:
df[bol] = df[bol].replace({True:1 , False:0}) # bu yerda bool data turini intga o'zgartirib oldim

/var/folders/30/rhygxw913tvdqrfklnsl3gx00000gn/T/ipykernel_29846/1328590705.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[bol] = df[bol].replace({True:1 , False:0}) # bu yerda bool data turini intga o'zgartirib oldim

In [58]:
df=df.astype(int) # bu yerda barcha datalarni intga aylantirib oldim

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 49 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Experience_Years                  50000 non-null  int64
 3   Monthly_Salary_INR                50000 non-null  int64
 4   Working_Hours_per_Week            50000 non-null  int64
 5   Commute_Time_Hours                50000 non-null  int64
 6   Remote_Work                       50000 non-null  int64
 7   Stress_Level                      50000 non-null  int64
 8   Sleep_Hours                       50000 non-null  int64
 9   Physical_Activity_Hours_per_Week  50000 non-null  int64
 10  Manager_Support_Level             50000 non-null  int64
 11  Work_Pressure_Level               50000 non-null  int64
 12  Annual_Leaves_Taken               50000 non-null  int64
 13  Work_Life_Balance                 50000 non-null  int64
 14  Family_Support_Level              50000 non-null  int64
 15  Job_Satisfaction                  50000 non-null  int64
 16  Performance_Rating                50000 non-null  int64
 17  Team_Size                         50000 non-null  int64
 18  Training_Opportunities            50000 non-null  int64
 19  Gender_Bias_Experienced           50000 non-null  int64
 20  Discrimination_Experienced        50000 non-null  int64
 21  Gender_Male                       50000 non-null  int64
 22  Gender_Non-Binary                 50000 non-null  int64
 23  Marital_Status_Married            50000 non-null  int64
 24  Marital_Status_Single             50000 non-null  int64
 25  Marital_Status_Widowed            50000 non-null  int64
 26  Job_Role_Developer                50000 non-null  int64
 27  Job_Role_HR                       50000 non-null  int64
 28  Job_Role_Manager                  50000 non-null  int64
 29  Job_Role_Sales                    50000 non-null  int64
 30  Job_Role_Support                  50000 non-null  int64
 31  Health_Issues_Mental              50000 non-null  int64
 32  Health_Issues_Physical            50000 non-null  int64
 33  Company_Size_Medium               50000 non-null  int64
 34  Company_Size_Small                50000 non-null  int64
 35  Department_Finance                50000 non-null  int64
 36  Department_HR                     50000 non-null  int64
 37  Department_IT                     50000 non-null  int64
 38  Department_Marketing              50000 non-null  int64
 39  Department_Sales                  50000 non-null  int64
 40  Mental_Health_Leave_Taken_True    50000 non-null  int64
 41  Mental_Health_Leave_Taken_FALSE   50000 non-null  int64
 42  Mental_Health_Leave_Taken_TRUE    50000 non-null  int64
 43  Burnout_Symptoms_No               50000 non-null  int64
 44  Burnout_Symptoms_Occasional       50000 non-null  int64
 45  Burnout_Symptoms_Yes              50000 non-null  int64
 46  Location_Tier-1                   50000 non-null  int64
 47  Location_Tier-2                   50000 non-null  int64
 48  Location_Tier-3                   50000 non-null  int64
dtypes: int64(49)
memory usage: 18.7 MB

In [ ]:
X = df.drop(columns=['Burnount_Syptoms'])
y = df['Burnount_Syptoms']
# shu yergacha kela oldim , lekin bu yerda Burnout x va Y ga mos kelmadi sababi men yuqorida get dummies bilan o'zgartirib olganim uchun 
# 3 ta alohida ustun ochib berdi shuning uchun bu buyruqni chaqira olmadi, hatoyimni tushundim lekin vaqt yetmay qolgani uchun davom ettira olmadim